* {
    color: white;
    cursor: default;

    margin: 0px;

    user-select: none;
}

body {
    transform-origin: center;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;

    background-color: black;
    height: 100vh;
    
    margin: 0px;

    transition: transform 500ms;
}

header, h1 {
    margin: 0px;
}

header {
    display: flex;
    justify-content: center; /* x */
    align-items: center; /* y */

    background-color: rgb(251, 93, 119);
    height: 5%;
    
    padding: 15px;
}

section {
    margin-bottom: 50px;
}

section > h3 {
    display: flex;
    align-items: center;

    height: 5%;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    height: auto;

    padding-top: 10px;
    padding-bottom: 10px;

    border-radius: 0px;

    margin-bottom: 15px;

    border-style: solid;
    border-width: 2px;
    border-color: rgb(211, 93, 132);
    border-radius: 5px;
}

nav a, nav button {
    font-size: 1.5em;

    background-color: palevioletred;
    min-width: 150px;
    width: 50%;
    max-width: 600px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0px 0px 10px rgba(255, 192, 203, 0.385);
    transition: 1s;

    border-style: solid;
    border-width: 1px;
    border-color: lightblue;
    border-radius: 5px;
    
    padding: 10px;

    outline: none;

    margin: 10px;

    cursor: pointer;
}

/* sobre links 

a:link cor para links nao visitados  {
    color: white;
}

a:visited link visitado anteriormente {
    color: white;
}*/

a:hover, button:hover /* cursor sobre o link */ {
    transform: rotate(1.5deg);
    
    border-color: white;
}

a:active, button:active /* enquanto clicado no link */ {
    border-color: pink;
}

/* margin-left em textos */

h1, h2, h3, h4, h5, h6, p {
    margin: 10px 0px 10px 10px;
}

/* margin-left em textos */

/* ou-nao */

#ou-nao {
    color: pink;
    opacity: 0.3;
    transition: 500ms;

    &:hover {
        opacity: 1;
        cursor: no-drop;
    }
}

/* termos e servico */

#borrar, #div-termos {
    transition-duration: 250ms;
}

#borrar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    background-color: black;
    color: rgba(255, 255, 255, 0.5);
    width: 100vw;
    height: 100vh;

    padding-bottom: 25%;

    visibility: hidden;
    opacity: 0;

    z-index: 998;
}

#div-termos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    position: fixed;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -10%);

    background-color: white;
    color: red;
    min-width: 450px;
    width: 70%;
    max-width: 600px;
    min-height: 350px;
    height: 20%;
    max-height: 400px;
    box-shadow: 0px 0px 20px red;
    transition: 1s;

    border-radius: 10px;

    transition-duration: 250ms;
    opacity: 0;
    visibility: hidden;

    z-index: 999;
}

#div-termos > * {
    font-weight: bolder;
}

#div-termos > h1  {
    font-size: 2.5em;
    background-color: red;
    color: white;
    box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.474);

    padding: 5px 40px;

    border-radius: 10px;
}

#div-termos > #txt-termos {
    color: red;
    text-align: justify;

    padding: 0px 20px;
}

#div-termos > #buttons-termos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;

    width: 100%;
}

#buttons-termos > button {
    transform: scale(3);

    border: none;
    border-radius: 2px;

    outline: none;

    cursor: pointer;

    transition-duration: 100ms;
}

#buttons-termos > button:nth-child(1) {
    background-color: lightgreen;
}

#buttons-termos > button:nth-child(2) {
    background-color: red;
}


@media (max-width: 780px) {
    #div-termos > h1 {
        font-size: 2em;
    }

    #txt-termos {
        font-size: 0.9em;
    }
}